<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="iDeal" type="iDeal.Configuration.ConfigurationSectionHandler, iDeal" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <iDeal>
    <merchant id="003014113" subId="0" />
    <acquirer url="https://abnamro-test.ideal-payment.de/ideal/iDEALv3" />
    <acceptantCertificate filename="App_Data\yourprivate.pfx" password="yourpassword" />
    <acquirerCertificate filename="App_Data\ideal_v3.cer" />
  </iDeal>
</configuration>
